<?xml version="1.0"?>
<launch>
      <arg name="debug_gui"  default="false" />
      <arg name="loomia_gui"  default="false" />
      <arg name="joint_pub" default="false" />
      <arg name="sim" default="true" />

      <node pkg="festo_phand_driver" type="festo_phand_udp_driver.py" name="phand_hardware_interface" output="screen" >
            <param name="sim" value="$(arg sim)"/>
      </node>      

      <group if="$(arg debug_gui)">
            <node name="phand_debug_ui" pkg="festo_phand_driver" type="start_webserver.py" />
      </group>

      <!--Rosbridge server websocket-->
      <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

      <include file="$(find festo_phand_linear_axis_testsetup)/launch/hardware_launch.launch" />

      <group if="$(arg loomia_gui)">
            <node name="loomia_test_ui" pkg="festo_phand_driver" type="loomia_settings_gui.py" respawn="false"/>
      </group>

      <group if="$(arg joint_pub)">
            <include file="$(find festo_phand_description)/launch/display_full_hand_joint_pub.launch" />
      </group>

</launch>
