<?xml version="1.0"?>
<launch>
      <arg name="test_gui"  default="true" />
      <arg name="loomia_gui"  default="true" />
      <arg name="sim" default="true" />
      <arg name="robot_ip" default="192.168.34.4" />

<!--    Include the hand driver -->
<include file="$(find festo_phand_driver)/launch/hardware_interface.launch" >
    <arg name="sim" value="$(arg sim)"/>
    <arg name="test_gui" value="$(arg test_gui)"/>
    <arg name="loomia_gui" value="$(arg loomia_gui)"/>
</include>

<!--    Start the aubo robot -->
<include file="$(find festo_aubo_workspace_moveit_config)/launch/moveit_planning_execution.launch" >
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
</include>


<!--        Start the robot gui -->
<node pkg="festo_robot_gui" type="festo_cobot_gui.py" name="robot_gui"/>
<!--Start the support services for the gui-->
    <include file="$(find festo_robotic_suite_support)/launch/moveitbot_robotic_suite_support.launch" />

</launch>
