<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

      <xacro:macro name="grey">
          <material name="">
              <color rgba="0.59 0.62 0.63 1.0"/>
          </material>
      </xacro:macro>

      <xacro:macro name="gray_light">
          <material name="">
              <color rgba="0.6 0.6 0.6 1.0"/>
          </material>
      </xacro:macro>

      <xacro:macro name="gray_dark">
          <material name="">
              <color rgba="0.15 0.15 0.15 1.0"/>
          </material>
      </xacro:macro>


      <xacro:macro name="gray_dark_2">
          <material name="">
              <color rgba="0.25 0.25 0.25 1.0"/>
          </material>
      </xacro:macro>


      <xacro:macro name="white">
          <material name="">
            <color rgba="0.77 0.78 0.77 1.0"/>
          </material>
      </xacro:macro>


    <xacro:macro name="blue">
        <material name="">
          <color rgba="0.0 0.56 0.86 1.0"/>
        </material>
    </xacro:macro>

    <xacro:macro name="black">
        <material name="">
          <color rgba="0.1 0.1 0.1 1.0"/>
        </material>
    </xacro:macro>


    <xacro:macro name="alu">
        <material name="">
          <color rgba="0.7 0.70 0.7 1.0"/>
        </material>
    </xacro:macro>

    <xacro:macro name="trasp_blue">
        <material name="">
          <color rgba="0.0 0.56 0.86 0.7"/>
        </material>
    </xacro:macro>

   <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
   <xacro:property name="M_PI" value="3.14159"/>

</robot>
